// IMPORTANT - When editing make sure you are running the 'watch-scss' script to ensure that the module class type definitions are kept in sync with this file.

.table {
    margin-top: 8px;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 4px;
    text-align: left;
}

.table td {
    padding: 4px;
}

.error {
    color: red;
}